In [4]:
#LIBRERIAS
import spacy
import pandas as pd
import numpy as np
import re
from nltk.tokenize import word_tokenize
from bs4 import BeautifulSoup
import requests

In [5]:
#carga de textos para entrenar
df1= open('noticias/ciencia.txt',encoding='utf-8')
ciencia=df1.read().split("|")

df2= open('noticias/deportes.txt',encoding='utf-8')
deportes=df2.read().split("|")

df3= open('noticias/economia.txt',encoding='utf-8')
economia=df3.read().split("|")

df4= open('noticias/politica.txt',encoding='utf-8')
politica=df4.read().split("|")

#df5= open('prueba3.txt',encoding='utf-8')
#prueba3=df5.read().split("|")

*LINK DE LA NOTICIA A CLASIFICAR*

In [6]:

url=\
"https://www.infobae.com/salud/2022/04/26/el-confinamiento-afecto-mas-a-las-mujeres-que-a-los-hombres-segun-la-ciencia/"

In [7]:
def Cargar_Noticia(url):
    global cuerpo
    llamada = requests.get(url)
    datos_soup = BeautifulSoup(llamada.text, 'html.parser')

    titulo = datos_soup.find_all("h1",class_="article-headline")
    sub_titulo = datos_soup.find_all("h2",class_="article-subheadline")
    texto = datos_soup.find_all("p",class_="paragraph")
    cuerpo = []
    # Guardamos los titulos en lista_titulos
    for dato in titulo:
        cuerpo.append(dato.get_text())

    for dato in sub_titulo:
        cuerpo.append(dato.get_text())

    for dato in texto:
        cuerpo.append(dato.get_text())

Cargar_Noticia(url)

In [8]:
Texto_inicial=cuerpo

In [9]:
Texto_inicial

['El confinamiento afectó más a las mujeres que a los hombres, según la ciencia',
 'Dos investigaciones publicadas en la revista The Lancet Public Health evaluaron los impactos de la pandemia en la salud mental, en 15 países. Cuál fue la influencia de las cuarentenas',
 'Las medidas de restricción contra el COVID-19 están asociadas con una salud mental ligeramente peor y evaluaciones de vida más bajas, según dos nuevos estudios que revisan datos de 15 países entre abril de 2020 y junio de 2021, publicados en la revista The Lancet Public Health, que han revelado que la población de los países que intentaron controlar la transmisión están más afectados por el COVID-19 que la de las personas de países que intentaron suprimir la transmisión.',
 'El primer estudio indica que el tipo y el momento de la restricción pandémica juegan un factor en la determinación de los impactos en la salud mental mientras que el segundo sugiere que diferentes grupos los sienten de manera desproporcionada.',
 'Los estudios señalan que los impactos en la salud mental asociados con los encierros fueron peores para las mujeres y las mujeres que vivían en hogares con niños dependientes en comparación con los hombres de todas las edades. A nivel nacional, los países que intentaron eliminar la transmisión comunitaria de COVID-19 dentro de sus fronteras (eliminadores) experimentaron menos muertes y tendencias de salud mental equivalentes o mejores durante la pandemia que los países que intentaron controlar en lugar de eliminar la transmisión (mitigadores).',
 'En el transcurso de la pandemia, los gobiernos de todo el mundo emplearon diversas estrategias y emitieron una variedad de pautas para contener la pandemia de COVID-19. Sin embargo, las medidas de contención no fueron homogéneas; algunos países adoptaron estrategias de eliminación ambiciosas con objetivos de transmisión comunitaria cero. Otros países optaron por ralentizar la transmisión a través de una combinación de cierres intermitentes, cierres de lugares de trabajo, negocios y escuelas, distanciamiento social, uso de mascarillas y la cancelación de reuniones públicas y transporte público.',
 'Así, se detalla que países como Corea del Sur y Japón implementaron acciones tempranas y específicas, como restricciones de viajes internacionales, pruebas y rastreo de contactos, lo que resultó en niveles más bajos de infecciones por COVID-19 y les permitió optar por estrategias de contención internas más indulgentes.',
 'Por el contrario, los países mitigadores como Francia y el Reino Unido optaron por restricciones de viaje internacionales menos prohibitivas y se propusieron controlar, en lugar de eliminar, al virus a través de medidas de política internas estrictas y prolongadas, incluidos el distanciamiento físico y los requisitos de quedarse en casa.',
 '“Las respuestas gubernamentales a la pandemia de COVID-19 han sido ampliamente debatidas. A primera vista, puede parecer que los países eliminadores implementaron estrategias mucho más duras que otros países debido a sus prohibiciones de viajes internacionales ampliamente informadas. Pero, en realidad, las personas dentro de estas fronteras disfrutaron más libertad y medidas de contención doméstica menos restrictivas en general que los ciudadanos de los países mitigadores”, comentó la doctora Lara Aknin, de la Universidad Simon Fraser (Canadá).',
 'El tipo de contención determina el impacto en la salud mental',
 'Para evaluar cómo la variación en las restricciones de política de COVID-19 afecta la salud mental, el primer estudio combinó datos de rigurosidad de política diaria con datos de salud mental capturados quincenalmente de muestras de 15 países. Los países se agruparon en función de su respuesta al COVID-19 desde abril de 2020 hasta junio de 2021 como eliminadores (Australia, Japón, Singapur y Corea del Sur) o mitigadores (Canadá, Dinamarca, Finlandia, Francia, Alemania, Italia, Países Bajos, Noruega, España, Suecia y el Reino Unido).',
 'En los países mitigadores, hubo un vínculo más fuerte entre las políticas de contención severas y una evaluación de vida más baja en comparación con los países eliminadores. Al observar las políticas individuales, aquellas que conducen a una pérdida de conexión social y que se adoptan principalmente en países mitigadores (p. ej., restricciones a las reuniones y requisitos de quedarse en casa) se asociaron con una mayor angustia psicológica y evaluaciones de vida más bajas.',
 'Por otro lado, políticas como el cierre de escuelas, lugares de trabajo, eventos públicos y transporte público, así como las restricciones a los viajes nacionales, no estaban vinculadas a la salud mental. Quizás sorprendentemente, la cantidad de días consecutivos pasados bajo niveles altos o bajos de restricciones pandémicas no arrojó ninguna diferencia en los resultados de salud mental.',
 'Las medidas políticas más estrictas se asociaron en general con opiniones más bajas sobre el manejo de la pandemia por parte del gobierno y, por lo tanto, sobre la salud mental. Las evaluaciones de cómo el gobierno manejó la pandemia fueron más positivas en los países eliminadores en comparación con los países mitigadores.',
 'Por su parte, el segundo estudio, basado en datos representativos a nivel nacional de Australia, subraya que los impactos del confinamiento en la salud mental no se sintieron por igual en todos los grupos demográficos. Los autores explotaron un experimento natural que surgió del bloqueo único de Victoria, mientras que otras jurisdicciones permanecieron sin restricciones, para aislar el impacto causal del bloqueo.',
 'Los autores utilizaron datos de más de 20.000 personas incluidas en la Encuesta de Dinámica Laboral, de Ingresos y de Hogares en Australia (HILDA). Compararon la salud mental de las personas en el estado de Victoria durante el confinamiento (el grupo de tratamiento) en relación con su salud mental el año anterior al confinamiento y compararon este cambio relativo con el cambio relativo de la salud mental de los residentes que viven en el resto de Australia (el grupo de tratamiento, grupo de control) que estaban relativamente libres de restricciones',
 'Las mujeres tenían más probabilidades de sufrir consecuencias de salud mental que los hombres, especialmente aquellas entre 20 y 29 años de edad. No hubo efectos significativos para los adolescentes de ambos sexos ni para los hombres más jóvenes (de 20 a 29 años). Mientras tanto, los hombres de 55 años o más vieron una mejora en su salud mental durante el encierro, el único grupo demográfico que lo hizo.',
 'Con información de Europa Press',
 'SEGUIR LEYENDO:']

In [10]:
def removeCharacters(text):
    global texto
    characters = ",.:?’_¡»—“¿%;!/”-«``''©@)°C(\"\n"
    text= ''.join( x for x in text if x not in characters)
    text= ''.join([i for i in text if not i.isdigit()])

    characters = ",.:?’_¡»—“¿%;!/”-«``''©@)°C(\"\n"
    text= ''.join( x for x in text if x not in characters)
    text= ''.join([i for i in text if not i.isdigit()])
    text = text.lower()
    texto=word_tokenize(text)

In [11]:
removeCharacters(Texto_inicial)

In [12]:
 #LE SACO LAS STOP WORDS
def stopwords(texto):
    #texto=ciencia
    
    global texto_limpio
    f = open('stopwords.txt', 'r', encoding='utf8')
    stopwords = f.read().split('\n')
    f.close()
    " ".join(stopwords)

    palabras=list(texto)

    texto_limpio = [" ".join([
                              palabra for palabra in palabras.split()
                              if palabra not in stopwords])
                              for palabras in palabras]

In [13]:
stopwords(texto)

In [14]:
#diccionario de freciencias
def Diccionarios(textoDiccionario):
    global diccionario1
    diccionario1={}
    for  palabra in textoDiccionario:
        if palabra in diccionario1:
            diccionario1[palabra] += 1
        else:
            diccionario1[palabra]=1
    for palabra in diccionario1:
        frecuencia_abs=diccionario1[palabra]

In [15]:
Diccionarios(texto_limpio)

In [16]:
def dicFrecuencias(Diccionario):
    global noticia_analizar
    #transformo el diccionario en dataframe
    df=pd.DataFrame(list(diccionario1.items()), columns=['Palabra' , 'Cantidad'])
 
    #eliminamos valores duplicados
    df=df.drop_duplicates()
    df=df.sort_values( 'Cantidad',ascending=False) #ordeno de mas repetidos a menos
    indexNames = df[ df["Palabra"] == "" ].index
    df.drop(indexNames , inplace=True)
    noticia_analizar=df

In [17]:
dicFrecuencias(diccionario1)

In [18]:
noticia_analizar.head(10)

           Palabra  Cantidad
18          países        21
16           salud        17
17          mental        15
24            ovid         8
15        pandemia         7
136  restricciones         7
102     contención         5
35           datos         5
22         medidas         5
82    eliminadores         5

In [19]:
#df_Ciencia=pd.DataFrame(noticia_analizar)
#df_Ciencia.to_csv('df_Ciencia.csv', index=False)
df_Ciencia=pd.read_csv("df_Ciencia.csv")


#df_Deportes=pd.DataFrame(noticia_analizar)
#df_Deportes.to_csv('df_Deportes.csv', index=False)
df_Deportes=pd.read_csv("df_Deportes.csv")


#df_Economia=pd.DataFrame(noticia_analizar)
#df_Economia.to_csv('df_Economia.csv', index=False)
df_Economia=pd.read_csv("df_Economia.csv")

#df_Politica=pd.DataFrame(noticia_analizar)
#df_Politica.to_csv('df_Politica.csv', index=False)
df_Politica=pd.read_csv("df_Politica.csv")

Clasificar=pd.DataFrame(noticia_analizar)

In [20]:
# Solo para mostrar contenido de los diccionarios
display(df_Ciencia.head(10),df_Deportes.head(10),df_Economia.head(10),df_Politica.head(10))

          Palabra  Cantidad
0           datos        45
1            años        41
2  investigadores        33
3     científicos        32
4        estudios        24
5           suelo        23
6             rwd        21
7         estudio        21
8            foto        20
9        expertos        20

       Palabra  Cantidad
0       juegos        23
1         mayo        19
2         liga        19
3        luego        14
4         años        13
5         gran        13
6  selecciones        12
7        tiene        12
8           ov        12
9       equipo        12

     Palabra  Cantidad
0  inflación        72
1   millones        42
2      deuda        40
3   gobierno        34
4   economía        33
5          $        28
6      banco        28
7      pesos        27
8  subsidios        27
9     guzmán        25

      Palabra  Cantidad
0    gobierno        62
1    política        41
2  presidente        39
3   argentina        34
4        está        27
5     alcalde        27
6        país        26
7        años        26
8       gente        25
9       milei        21

*Clasificador sin Machine Leaning*

In [21]:
def clasificacion(noticia):
    global Resultado
    comparativa=[df_Deportes,df_Politica,df_Ciencia,df_Economia]
    Clasificacion=["Deportes","Politica","Ciencia","Economia"]
    auxiliar=0
    auxiliar2=-1
    for j in comparativa:
        a=pd.concat([noticia_analizar,j],axis=0)
        a=a.drop(["Cantidad"],axis=1)
        repetidos= a["Palabra"].duplicated()
        count=0

        for i in repetidos:
            if i == True:
                count+=1

                if auxiliar<count:
                    auxiliar=count
                    clasificado=auxiliar2+1 

        auxiliar2+=1

        print (Clasificacion[auxiliar2]+ ": "+str(count))
    print(Clasificacion[clasificado])
    Resultado=Clasificacion[clasificado]

clasificacion(noticia_analizar)
noticia_analizar.count()

Deportes: 103
Politica: 114
Ciencia: 124
Economia: 105
Ciencia

Palabra     336
Cantidad    336
dtype: int64

In [23]:
 print("La Noticia es sobre: " + Resultado)

La Noticia es sobre: Ciencia